*{
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
 }

 /* nav section */

.creation {
    position: relative;
    width: 100%;
    height: auto;
}

 .creation img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
margin-bottom: 50px;
 }

h1 {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 5rem;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content:center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
 }

 .styled-meaning {
    font-size: 5rem;
    font-style: italic;
    font-weight:300;
    color: yellow;
    margin-left: 30px;
 }

 /* card section  virtue */

.card-virtue, .card-vice {
     width: 570px;
     height: 370px;
    perspective: 1000px;
    margin: 30px;
}
.left-header {
    width: 200px;
    display: block;
    margin: 20px 0px 20px 20px;
}

.right_header {
     width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px 20px 0px;
}

.card_front_header {
   
    display: flex;
    flex-direction: row;
     }
 
.card-front-content > p {
    height: 100%;
    display: flex;
    justify-content: center;
    
}

h3 {
    font-size: 1.5rem;
    color: rgb(0, 0, 121);
}

img {
       height: 200px;
       box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
       }

h4 {
font-weight: 300;
font-style: italic;
font-size: 0.8rem;
}
.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
       
}
.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
}

.summary {
    font-size: 1rem;
    margin: 40px 20px 20px 20px;
}

.card-face-front {
  background-color: rgb(181, 226, 226);
}

.card-face-back {
    transform: rotateY(180deg);
background-color: #3392d6;
}

.card__back__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        width: 100%;
    height: 100%;
}
.card__back__content > h2 {
margin-bottom: 20px;
color: white;

}

.lessons {
    color: rgb(224, 235, 246);
    font-style: italic;
    font-weight: 200;
    font-size: 1.2rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-items: center;
    margin-top: 100px;
    /* z-index: 1; */
}

.swan {
    font-family: 'great vibes';
    font-weight: 300;
    font-size: 3rem;
}

.card__back__content > p {
    padding: 20px;
}

.card-face-back:after {
content: '';
display: block;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -1;
}

.card-front-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-front-header > * {
    margin: 10px 0; 
}

.card-front-content{
    display: block;
    height: 156px;
    padding: 10px 20px 20px 20px;
        }


/* filter section */

#filter {
    display: flex; /* Use flexbox to align buttons in a row */
    justify-content: center; /* Horizontally center the buttons */
    margin-top: 20px;
      }
  
  .btn {
      width: 90px;
    height: 60px;
     border-radius: 10px;
      cursor: pointer;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin: 0 5px;
  }
  
  
  #virtue {
    float: left;
  }
  
  #vice {
    float: right;
  }
  .showAll {
    color: black;
    font-weight: 700;
    transition: all 0.3s ease-in;
  }
  
  .showAll:hover {
    background-color: #aeaeae;
  }
  
  .birds {
    background-color: rgb(216, 226, 109);
    color: rgb(66, 85, 3);
    font-weight: 700;
    transition: all 0.3s ease-in;
  }
  
  .birds:hover {
    background-color: #bec100;
  }
  
  .mammals {
    background-color: rgb(138, 237, 150);
    color: rgb(0, 68, 0);
    font-weight: 700;
    transition: all 0.3s ease-in;
  }
  .mammals:hover {
    background-color: rgb(0, 210, 0);
  }
  
  #filter .virtues {
  background-color: #B5E2E2;
  color: #000079;
  font-weight: 700;
  }
  
  #filter .vices {
  background-color: 
  #E2B5B5;
  color: #530101;
  font-weight: 700;
  }
  
  
  
  #virtue:hover {
    background-color: #3ac3e9;
    transition: all 0.3s ease-in;
  }
  
  #vice:hover {
    background-color: rgb(199, 72, 72);
    transition: all 0.3s ease-in;
  }
  
  #virtue.pressed {
    color:white;
    background-color: #3392D6;
    text-decoration: underline;
  }
  
  #vice.pressed {
    color:white;
    background-color: #D63333;
    text-decoration: underline;
  }
  #birdsBirds.pressed {
    color:rgb(189, 189, 189);
    background-color: #fbff00;
    text-decoration: underline;
  }
  
  
  #mammalsMammals.pressed {
    color:white;
    background-color: rgb(0, 210, 0);
    text-decoration: underline;
  }
  
  #allShow.pressed {
      color:white;
    background-color: #aeaeae;
    
  }
  
  .pressed {
    border-bottom: 2px solid black;
  }


        /* card section vice */

       .card-vice h3 {
            font-size: 1.5rem;
            color: rgb(83, 1, 1);
        }

        .card-vice .card-face-front {
            background-color: rgb(226, 181, 181);
          }

          .card-vice .card-face-back {
            
        background-color: #d63333;
        }
        
        .card__back__content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
                width: 100%;
            height: 100%;
        }
        .card-vice .card__back__content > h2 {
                color: rgb(45, 0, 0);
        
        }

        .card-vice .lessons {
            color: rgb(1, 0, 0);
            
        }

        /* footer */

footer {
  width: auto;
  height: 150px;
}

.footer {
  font-family: 'great vibes';
  font-size: 2rem;
  text-align: center;
  color:rgb(0, 78, 16);
  border-bottom: solid black;
  padding-bottom: 50px;
  border-bottom: none;
border-top: solid black;
padding:50px;
    }


        /* media responsive settings */

        @media (300px <= width <= 390px ) {
          * {
            margin: 0;
            padding: 0;
        }
        .container {
          display: flex;
          flex-wrap: wrap;
    
        }
        .card-virtue, .card-vice {
           width: 400px; 
            height: 300px;
            margin: 20px 5px 20px 5px;
                  
               }
        .left-header img {
            width: auto;
            height: 160px;
            margin: 50px 5px 50px 5px;
                          }
         .card-front-content {
            display: none;
        }
    
    
        img {
          height: 200px;
          box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
          }
    
    
        h3 {
          font-size: 1.5rem;
          color: rgb(0, 0, 121);
      }
        .card-front-content > p {
          height: 100%;
          display: flex;
          justify-content: center;
          
      }
      #virtue.pressed {
        color:white;
        background-color: #3392D6;
        text-decoration: underline;
      }
      
      #vice.pressed {
        color:white;
        background-color: #D63333;
        text-decoration: underline;
      }
      #birdsBirds.pressed {
        color:rgb(189, 189, 189);
        background-color: #fbff00;
        text-decoration: underline;
      }
      
      
      #mammalsMammals.pressed {
        color:white;
        background-color: rgb(0, 210, 0);
        text-decoration: underline;
      }
      
      #allShow.pressed {
          color:white;
        background-color: #aeaeae;
        
      }
      
      .pressed {
        border-bottom: 2px solid black;
      }
    
      
        h1 {
            margin:0;
            font-size: 1rem;
            width: 80%;
            height: 120%;
            display: flex;
            flex-direction: row;
            margin-left: 50px;
            margin-top: 20px;
            justify-content:center;
            align-items: center;
            padding: 10px;
            box-sizing: border-box;
            text-align: center;
           }
          
           .styled-meaning {
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
              width:27%;
                       font-size: 1rem;
              font-style: italic;
              font-weight:300;
              color: yellow;
                                 }
           .creation img{
            width: 100%;
            height: 150px;
            display: block;
            object-fit: cover;
            margin-bottom: 0px;
           }
    
              .summary {
                margin: 20px 5px 5px 20px;
              }
    
    }
            
   
@media (400px <= width <= 600px ) {
    * {
        margin: 0;
        padding: 0;
    }

.container {
      display: flex;
      flex-wrap: wrap;

    }
    .card-virtue, .card-vice {
       width: 400px; 
        height: 300px;
        margin: 20px 5px 20px 5px;
              
           }
    .left-header img {
        width: auto;
        height: 160px;
        margin: 50px 5px 50px 5px;
                      }
     .card-front-content {
        display: none;
    }


    img {
      height: 200px;
      box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
      }


    h3 {
      font-size: 1.5rem;
      color: rgb(0, 0, 121);
  }
    .card-front-content > p {
      height: 100%;
      display: flex;
      justify-content: center;
      
  }
  #virtue.pressed {
    color:white;
    background-color: #3392D6;
    text-decoration: underline;
  }
  
  #vice.pressed {
    color:white;
    background-color: #D63333;
    text-decoration: underline;
  }
  #birdsBirds.pressed {
    color:rgb(189, 189, 189);
    background-color: #fbff00;
    text-decoration: underline;
  }
  
  
  #mammalsMammals.pressed {
    color:white;
    background-color: rgb(0, 210, 0);
    text-decoration: underline;
  }
  
  #allShow.pressed {
      color:white;
    background-color: #aeaeae;
    
  }
  
  .pressed {
    border-bottom: 2px solid black;
  }

  
    h1 {
        margin:0;
        font-size: 1rem;
        width: 80%;
        height: 120%;
        display: flex;
        flex-direction: row;
        margin-left: 50px;
        margin-top: 20px;
        justify-content:center;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
       }
      
       .styled-meaning {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
          width:27%;
                   font-size: 1rem;
          font-style: italic;
          font-weight:300;
          color: yellow;
                             }
       .creation img{
        width: 100%;
        height: 150px;
        display: block;
        object-fit: cover;
        margin-bottom: 0px;
       }

          .summary {
            margin: 20px 5px 5px 20px;
          }

}

@media (600px <= width <= 900px ) {
  * {
    margin: 0;
    padding: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.card-virtue, .card-vice {
   width: 600px; 
    height: 400px;
    margin: 0px 5px 20px 5px;
          
       }
.left-header img {
    width: auto;
    height: 160px;
    margin: 50px 5px 50px 5px;
                  }
 .card-front-content {
    display: none;
}


img {
  height: 200px;
  box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
  }


h3 {
  font-size: 1.5rem;
  color: rgb(0, 0, 121);
}
.card-front-content > p {
  height: 100%;
  display: flex;
  justify-content: center;
}
#virtue.pressed {
color:white;
background-color: #3392D6;
text-decoration: underline;
}

#vice.pressed {
color:white;
background-color: #D63333;
text-decoration: underline;
}
#birdsBirds.pressed {
color:rgb(189, 189, 189);
background-color: #fbff00;
text-decoration: underline;
}


#mammalsMammals.pressed {
color:white;
background-color: rgb(0, 210, 0);
text-decoration: underline;
}

#allShow.pressed {
  color:white;
background-color: #aeaeae;

}

.pressed {
border-bottom: 2px solid black;
}


h1 {
    margin:0;
    font-size: 2rem;
    width: 100%;
    height: 120%;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 20px;
    justify-content:center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
   }
  
   .styled-meaning {
    font-size: 2rem;
    font-style: italic;
    font-weight:300;
    color: yellow;
    margin-left: 10px;
                         }
   .creation img{
    width: 100%;
    height: 150px;
    display: block;
    object-fit: cover;
    margin-bottom: 0px;
   }


      
}

@media (1080px <= width <= 1200px ) {
  * {
    margin: 0;
    padding: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.card-virtue, .card-vice {
   width: 600px; 
    height: 400px;
    margin: 0px 5px 20px 5px;
          
       }
.left-header img {
    width: auto;
    height: 160px;
    margin: 50px 5px 50px 5px;
                  }
 .card-front-content {
    display: none;
}


img {
  height: 200px;
  box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
  }


h3 {
  font-size: 1.5rem;
  color: rgb(0, 0, 121);
}
.card-front-content > p {
  height: 100%;
  display: flex;
  justify-content: center;
}
#virtue.pressed {
color:white;
background-color: #3392D6;
text-decoration: underline;
}

#vice.pressed {
color:white;
background-color: #D63333;
text-decoration: underline;
}
#birdsBirds.pressed {
color:rgb(189, 189, 189);
background-color: #fbff00;
text-decoration: underline;
}


#mammalsMammals.pressed {
color:white;
background-color: rgb(0, 210, 0);
text-decoration: underline;
}

#allShow.pressed {
  color:white;
background-color: #aeaeae;

}

.pressed {
border-bottom: 2px solid black;
}


h1 {
    margin:0;
    font-size: 2rem;
    width: 100%;
    height: 120%;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 20px;
    justify-content:center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
   }
  
   .styled-meaning {
    font-size: 2rem;
    font-style: italic;
    font-weight:300;
    color: yellow;
    margin-left: 10px;
                         }
   .creation img{
    width: 100%;
    height: 150px;
    display: block;
    object-fit: cover;
    margin-bottom: 0px;
   }


      
}